@model HanoiBusSystemManagement.Models.LuuThong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Traffic", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sửa thông tin lưu thông</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Ca</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ca, null, new { @style = "width:300px;", @required = "true" })
                @Html.ValidationMessageFor(model => model.Ca)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ngay, null, new { @style = "width:300px;", @required = "true" })
                @Html.ValidationMessageFor(model => model.Ngay)
            </div>
        </div>

        @{
    var listbusroute = new List<SelectListItem>();
    foreach (HanoiBusSystemManagement.Models.TuyenXe item in ViewBag.TuyenXe)
    {
        listbusroute.Add(new SelectListItem() { Text = item.TenTuyenXe, Value = item.MaTuyenXe.ToString() });
    }
    var listbus = new List<SelectListItem>();
    foreach(HanoiBusSystemManagement.Models.XeBuyt item in ViewBag.XeBuyt)
    {
        listbus.Add(new SelectListItem() { Text = item.BienKiemSoat, Value = item.MaXeBuyt.ToString() });
    }
    var listdriver = new List<SelectListItem>();
    foreach(HanoiBusSystemManagement.Models.TaiXe item in ViewBag.TaiXe)
    {
        listdriver.Add(new SelectListItem() { Text = item.HoTen, Value = item.MaTaiXe.ToString() });
    }
    var listassistant = new List<SelectListItem>();
    foreach(HanoiBusSystemManagement.Models.PhuXe item in ViewBag.PhuXe)
    {
        listassistant.Add(new SelectListItem() { Text = item.HoTen, Value = item.MaPhuXe.ToString() });
    }
        }

        <div class="form-group">
            <label class="control-label col-md-2">Biển kiểm soát</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaXeBuyt, listbus, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.MaXeBuyt)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tuyến xe</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaTuyenXe, listbusroute, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.MaTuyenXe)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tài xế</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaTaiXe, listdriver, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.MaTaiXe)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Phụ xe</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaPhuXe, listassistant, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.MaPhuXe)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Traffic/Index" class="btn btn-round btn-warning">Trở lại</a>
                <input class="btn btn-round btn-success" type="submit" value="Đồng Ý" />
            </div>
        </div>
    </div>
}
