@model HanoiBusSystemManagement.Models.ChangePassword

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditPassword", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thay đổi mật khẩu</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Nhập mật khẩu cũ</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExPassword, null, new { @style = "width:300px;", @required = "true", @type = "password" })
                @Html.ValidationMessageFor(model => model.ExPassword)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mật khẩu mới</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, null, new { @style = "width:300px;", @required = "true", @type = "password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nhập lại mật khẩu mới</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ConfirmPassword, null, new { @style = "width:300px;", @required = "true", @type = "password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="reset" class="btn btn-round btn-warning">Reset</button>
                <button type="submit" class="btn btn-round btn-success">Submit</button>
            </div>
        </div>
    </div>
}


